body{
    background-image: url('../pics/wallpaper3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    background-color: white;
    margin-top: -20px;
}

@media only screen and (min-width: 100px){
    .page-footer{
        color: whitesmoke;
        margin-top: 50%;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .page-footer{
        color: whitesmoke;
        margin-top: 50%;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .page-footer{
        text-align: center;
        margin-top: 50%;
        color: whitesmoke;
    }
}

@media only screen and (min-width: 1200px) {
    .page-footer{
        bottom: 0;
        left: 0;
        color: black;
        right: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.877);
    }
}

.form_div{
    background-color: rgba(255, 255, 255, 0.849);
    height: 500px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    background-color: rgb(101, 113, 117);
    color: white;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#more_files{
    visibility: hidden;
}

